<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">
        <activity
            android:name=".tenant.TenantShortListsActivity"
            android:exported="false" />
        <activity
            android:name=".property.ViewPropertyActivity"
            android:exported="false" />
        <activity
            android:name=".tenant.TenantSignupActivity"
            android:exported="false" />
        <activity
            android:name=".tenant.TenantLoginActivity"
            android:exported="false" />
        <activity
            android:name=".tenant.TenantActivity"
            android:exported="false" />
        <activity
            android:name=".landlord.CreateLandlordActivity"
            android:exported="false" />
        <activity
            android:name=".landlord.LandlordLoginActivity"
            android:exported="false" />
        <activity
            android:name=".landlord.CreatePropertyActivity"
            android:exported="false" />
        <activity
            android:name=".landlord.PropertyDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".landlord.LandlordActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>